<h2>All Historical Landmarks</h2>

<!-- add content here -->
<ul>
    <% @landmarks.each do |landmark|%>
      <li><a href="/landmarks/<%= landmark.id%>"><%= landmark.name %></a></li
        <%= landmark.year_completed %> <br></br>
    <% end %>
</ul> 

<a class="button" href="landmarks/new">Create New Landmark</a><br>
<a class="button" href="/figures">Figures</a><br>
<a class="button" href="/">Home</a><br>
