<h2>Create New Landmark</h2>

    <form method="POST" action="/landmarks">
    <lable for='landmark_name'>Name:</lable><br>
    <input text="text" name="landmark[name]" id="landmark_name"></br>
    <lable for='landmark_year_completed'>Year Completed:</lable><br>
    <input text="text" name="landmark[year_completed]" id="landmark_year_completed"><br></br>
    <input value="Create New Landmark" type="submit">
    </form>


<a class="button" href="/landmarks">Landmarks</a><br>
<a class="button" href="/">Home</a>
